[group:imara-ai]
programs=ai-api,ai-worker,ai-beat

[program:ai-api]
command={{SCRIPTS_DIR}}/run_inference.sh
directory={{PYTHON_DIR}}
autostart=true
autorestart=true
stderr_logfile={{LOG_DIR}}/uvicorn.err.log
stdout_logfile={{LOG_DIR}}/uvicorn.out.log
environment=PYTHONPATH="{{PYTHON_DIR}}"

[program:ai-worker]
command={{SCRIPTS_DIR}}/run_worker.sh
directory={{PYTHON_DIR}}
autostart=true
autorestart=true
stderr_logfile={{LOG_DIR}}/worker.err.log
stdout_logfile={{LOG_DIR}}/worker.out.log
environment=PYTHONPATH="{{PYTHON_DIR}}"

[program:ai-beat]
command={{SCRIPTS_DIR}}/run_beat.sh
directory={{PYTHON_DIR}}
autostart=true
autorestart=true
stderr_logfile={{LOG_DIR}}/beat.err.log
stdout_logfile={{LOG_DIR}}/beat.out.log
environment=PYTHONPATH="{{PYTHON_DIR}}"
